#wrapper{
    width:960px;
    margin:0 auto;
    text-align: center
}
#board{
    width: 310px;
    margin:0 auto;
}
.cell {
    border: solid 1px #000;
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 70px;
}
.clear {
    clear: both;
}
#messages {font-size: 36px}

.fancy_button {
 display: block;
 margin:10 auto;
 background: #62869b;
 width: 200px;
 height: 30px;
 text-align: center;
 padding: 10px 0 0 0;
 font: 1.2em/12px Verdana, Arial, Helvetica, sans-serif;
 color: #fff;
 text-decoration: none;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 border-radius: 15px;
 }